node_modules
**/node_modules

out

.env
**/.env

.env.*
**/.env.*

.vscode
**/.vscode

.dockerignore
**/.dockerignore

.git
**/.git

.prettier
**/.prettier

docker-compose.*
**/docker-compose.*

Dockerfile
**/Dockerfile

Makefile
**/Makefile

nodemon.json
**/nodemon.json

README.md
**/README.md
